/* adding the same font in the entire webpage*/
html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/*the following styling is for my image and the header*/
.photo {
    text-align: center;
    border-radius: 50%;
}
#mainHead{
    background-image: url(../image/1.png);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(40px);
    background-position: fit-content;
   
}

header {
    background: linear-gradient(55deg, rgb(138, 43, 226), rgb(255, 20, 147));
    box-shadow: 0 0 8px 8px rgb(0, 0, 0);
    border: solid whitesmoke;
    color: aliceblue;
    
}
h1 {
    text-align: center;
    color: rgb(6, 6, 6);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*My text ID and article*/
#intro {
    color: aliceblue;
}

.article {
    text-align: center;
    position: relative;
    border: solid black;
    
    padding-right:5px;
    margin-left: 130px;

}
#contact {
    text-align: center;
    color: black;
}


/*navigation bar/ menu bar*/
#menu {
    background: linear-gradient(75deg, rgb(86, 8, 158), rgb(54, 7, 32));
    position: fixed;
    width: 135px;

}
#nav-text,
.menu {
    text-align: left;
    list-style: none;
    margin-left: 0%;
}


/*text decoration for h3 and anchor*/
a,
h3 {
    color: bisque;
    padding: auto;
    margin: auto;
    text-decoration: none;
    text-align: center;
}


/*footer*/
footer {
    background: linear-gradient(55deg, rgb(138, 43, 226), rgb(255, 20, 147));
    box-shadow: 0 0 8px 8px rgb(0, 0, 0);
    border: solid whitesmoke;
    clear: both;
    color: aliceblue;
    justify-content: space-between;
    position: sticky;
}


/*hover, when you move your cursor to the text link it will automitically change color*/
a:hover {
    color: brown;
    background: grey;
}


/*this ID is for changing the codespace text color*/
#codespace {
    color: rgb(15, 82, 82);
}


/*inserting borders in the article part*/
body {
    background: linear-gradient(45deg, rgb(190, 157, 221), rgb(233, 198, 217));
    padding: 0;
    margin: 0;
}


/*spacing of the paragraph*/
p,
#h3 {
    margin: 20px;
    margin: 7px;
}


/*making menu bar and aticle to be on a flex position*/
#Container {
    display: flex;
    justify-content: space-between;
}
#menu{
    flex: 2;
}
#article{
    flex:3;
}



/* back to top button */
#button {
    background: linear-gradient(65deg, rgb(46, 21, 69), rgb(46, 5, 27));
    float: right;
    position: relative;
    right: 8%;
}
#back-a:hover {
    color: rgb(220, 20, 60);
    background-color: antiquewhite;
}


/* resume7 */

ul{
    list-style: none;
}

#form {
    flex: 2;
}

